@import url('https://fonts.cdnfonts.com/css/campton');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-lora: var(--font-lora);
  --font-open-sans: var(--font-open-sans);
  --font-campton: 'Campton', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
}

/* Custom scrollbar for desktop */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #015b51;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #014238;
}
